       body {
           font-family: Arial, Helvetica, sans-serif;
           margin: 0;
           background-color:black;
       }

       .topnav {
           overflow: hidden;
           background-color: aqua;
       }

       .topnav a {
           float: left;
           color: black;
           text-align: center;
           padding: 14px 16px;
           text-decoration: dotted;
           font-size: 17px;
       }

       .topnav a:hover {
           background-color: blueviolet;
           color: deepskyblue;
       }

       .topnav a.active {
           background-color: yellowgreen;
           color: darkcyan;
       }
#h1{
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    color: aqua;
}
.carousel-container{
    justify-content: center;
    height: 300px;
    align-items: center;
display: flex;
}
.myslides{
    max-width: 100%;
    max-height: 100%;
    display: none;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
.myslides.active{
    display: block;
    opacity: 1;
}
h1{
    color: aqua;
}